@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Geostar&family=Geostar+Fill&display=swap");

@font-face {
    font-family: "GenosFont";
    src: url("/Fonts/Genos/Genos-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GenosBold";
    src: url("/Fonts/Genos/Genos-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Geostar";
    src: url("/Fonts/Geostar/Geostar-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GeostarFill";
    src: url("/Fonts/Geostar/GeostarFill-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Hide horizontal scrollbar for react-horizontal-scrolling-menu */
.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  position: relative;
}

/* Ensure child elements can still scroll horizontally */

/* For WebKit browsers (Chrome, Safari, Opera) */
.react-horizontal-scrolling-menu--scroll-container > *::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

html, body {
  overflow: auto; /* Ensure scrolling is enabled */
  height: 100%;
}

html{
  background-color: #f3f3f4;
}

:root {
    --foreground-rgb: #f7eaea;
}

.genos {
  font-family: "GenosFont", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.genosBold {
  font-family: "GenosFont", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.genos500 {
  font-family: "GenosFont", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.genos600 {
  font-family: "GenosFont", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.genos700 {
  font-family: "GenosFont", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.geostar-regular {
  font-family: "Geostar", serif;
  font-weight: 400;
  font-style: normal;
}

.geostar-fill-regular {
  font-family: "GeostarFill", serif;
  font-weight: 400;
  font-style: normal;
}

.exercise-card {
  /* width: 400px;
  /* height: 445px; */
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  /* text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column; */
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
